@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover, a:focus, a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

strong, b {
    font-weight: 700;
}

/**** NAV ****/

#icons {
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
}

.nav_btn {
    border: none;
    padding: 8px 16px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 14px;
}

#active{
    background-color: dodgerblue;
    color: white;
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: white;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
   
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
  }
   
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
   
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      padding-left: 25%;
       
    }
    nav ul li ul li a {
      padding-left: 30%;
    }
   
    .nav-dropdown {
      position: absolute;
    }
      .brand a img {
          max-height: 60px;
          margin-top: 5px;
      }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
   

/**** NAV END ****/

/* Modal ############## */
input{
    border-top: none; 
    border-left: none;
     border-right: none;
      border-bottom: 1px solid #E5E7E9;
      font-size: 12px;
}

::placeholder{
    font-size: 12px;    
}

.field-icon {
    position: relative;
    z-index: 1;
  }

  .input-container {
    display: -ms-flexbox; 
    display: flex;
    flex-grow: 1;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .input-field {
    width: 100%;
    outline: none;
  }
  
  .register_btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
/**** HEADER ****/

 header {
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
} 

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

header, header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}

header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 10;
}

header .header-content .header-content-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41);
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.header-content-inner h1 {
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

.input {
    border: none;
    padding: 8px;
}

.search_btn {
    border: none;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
}

.header-content-inner p {
    font-size: 22px;
    line-height: 1.8;
    color: #e4e4e4;
}

/**** HEADER END ****/

/**** SECTION START ****/

.item_list {
    background-color: #E5E7E9;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 50px 50px 16px 50px;
    display: flex;
}

h4{
    font-weight: 600;
    font-size: 14px;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle_div {
    display: flex;
    height: 70px;
    width: 70px;
    background-color: dodgerblue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:0px 6px 6px 6px;
    padding: 16px;
}

.listB {
    display: flex;
    width: 100%;
    height: 200px;
}

.main_div {
    width: 20%;
    justify-content: center;
    background-color: white;
    margin: 8px;
}

.sub_div1 {
    background-color: #E5E7E9;
    padding: 16px;
    height: 200px;
}

.sub_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3_div {
    position: relative;
    height: 500px;
    flex-grow: 1;
    background-size: cover;
    margin-bottom: 16px;
}

#header_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,191,255,.8), rgba(0,191,255,.4));
    position: absolute;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: black; 
     opacity: .9;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
}


/* SECTION END */

/**** FOOTER ****/

.about {
    background: #fff;
    padding: 40px 0px 80px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px
}

.about h3 {
    font-size: 36px;
    /* margin-bottom: 30px; */
    text-transform: capitalize;
    color: #222;
    letter-spacing: 0.05em;
}

.about h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
}

.about p {
    font-size: 16px;
    color:rgba(0, 0, 0, 0.7);
    margin: 4px;
}

/* BLOG CSS */
.hero-overlay{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

    
  .hero {
    width: 100%;
    height: 35%;
    background: url('https://images.unsplash.com/photo-1568729064400-d81b375ab4ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=3626&q=80') top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero_overlay{
    background-color: rgba( 30, 144, 255, .5);
     position: absolute;
     width: 100%;
      height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 100px;
  }

  .content {
    background-color: whitesmoke;
    height: 100px;
    margin: -50px auto 0 auto;
    width: 60%;
    padding: 20px;
    box-shadow: 12px 0 8px -10px rgba(0, 0, 0, 0.5), -12px 0 8px -10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content ::placeholder{
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
  }

.search_input{
    padding: 14px;
    flex-grow: 1;
    border-bottom: none;
}

/* breadcrumb */
ul.breadcrumbs {
    padding: 0px;
    list-style: none;
  }
  ul.breadcrumbs li {
    display: inline;
    font-size: 14px;
  }
  ul.breadcrumbs li+li:before {
    padding: 4px;
    color: white;
    content: "\003e";
  }
  ul.breadcrumbs li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  path {
    fill: none;
    stroke-dasharray: 2, 2;
    stroke-width:1;
  }
  
  
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
  }
  
  .container{
    padding-top:50px;
    margin: auto;
  }

  /* tabs */

.nav-tabs .nav-item .nav-link {
  background-color: #FFF;
  color: black;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #0080FF; 
  color: white;
}

.tab-content {
  padding: 15px;
}

.tab-content .tab-pane {
  min-height: 200px;
  height: auto;
}

.nav-tabs .nav-item .nav-link:focus{
    background-color: dodgerblue;
    color: white;
}

